.status{
    display: block;
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 100%;
}

.null{
    display: block;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 100%;
}